/*common start*/
body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common end*/

/*header start*/
header{
	padding: 30px 0;
	/*border: 1px solid red;*/
}
.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.logo{
	margin-top: 12px;
	float: left;
	width: 10%;
	/*border: 1px solid red;*/
}
.logo a{
    
}
.logo a img{
	width: 99%;
	transition: .10s;
}
.logo a img:hover{
	width: 100%;

}
.menu{
	float: right;
	width: 60%;
	/*border: 1px solid red;*/
}
.menu ul{
	float: right;
	overflow: hidden;
}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
	display: inline-block;
	margin: 0 50px;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: .33s linear;
}
.menu ul li:last-child a{
	float: right;
	margin-right: 0;
}
.menu ul li a:hover{
	color: #000000;
	border-bottom: 1px solid #626262
}
/*header end*/

/*banner start*/
.banner{}
.banner_img{}
.banner_img img{
	width: 100%;
}
/*banner end*/

/*Getaway Start*/
.getaway{
	padding: 100px 0 20px;
}
.container2{
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.g_content{}
.c_light{
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.c_title{
	margin: 20px 0 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin: 0px;
	line-height: 24px;
	text-align: justify;

}
.g_link{
	margin-top: 45px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
}
/*Getaway end*/

/*blog start*/
.blog{
	padding: 0 0 100px;
}
.sb_item{
	margin-top: 80px;
	float: left;
	width: 47%;
	/*border: 1px solid red;*/
}
.sb_item:nth-child(even){
	margin-left: 6%;
}
.sb_img{
	margin-bottom: 20px;
}
.sb_img img{
	width: 100%;
}
/*blog end*/

/*newsletter start*/
.newsletter{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
	
}
.s_h2{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 375px;
    /*border: 4px solid red;*/
    margin: 0 auto;
}
.s_form input{
	font-family: "Playfair Display", serif;
	font-size: 14px;
	font-weight: 400;
	color: #626262;
	width: 375px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #626262;
	background: transparent;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	border: none;
	cursor: pointer ;
	top: 17px;
    right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/*newsletter end*/

/*blog2 start*/
.blog2{
	padding-top: 20px;
}
.load{
	padding: 100px 0 50px;
	text-align: center;
}
.load button{
	width: 160px;
	height: 60px;
	background-color: white;
	border: 2px solid #626262;
	font-family: "Playfair Display", serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
	transition: .43s linear;
}
.load button:hover{
	background-color: #626262;

	color: white;
}
/*blog2 end*/

/*footer start*/
footer{
	background-color: #f0f0f0;
	padding:55px 0;
}
.page{
	float: left;
	width: 40%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.page ul{
	margin: 0;
	list-style: none;
}
.page ul li{
	float: left;
	margin: 0 20px;
}
.page ul li a{
	color: #626262;
	text-decoration: none;
}
.page ul li:last-child{
	margin-left: 0;
}
.social{
	float: right;
	width: 13%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.social ul{
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: inline-block;
    
}
.social ul li{
	margin: 0px 10px;
	float: left;
}

.social ul li a{
	text-decoration: none;
}
.social ul li:last-child{
	float: right;
	margin-right: 0;
/*footer end*/
}